# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# We are obliged not to ignore *.dll because we need to store MultiplayerLab\2M3\lib\x64\openal32.dll and MultiplayerLab\2M3\lib\x86\openal32.dll
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Backup files
*.bak

# Visual studio files
.vs
out
build

#Visual studio code files
.vscode

#Build directory
[Bb]uild
